<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de validade</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4 text-center">Bem-vindo ao controle de validade</h1>
            <p class="lead text-center">Escolha uma opção abaixo:</p>
            <div class="row justify-content-center">
                <div class="col-10 col-md-6 mb-3">
                    <a class="btn btn-primary btn-lg btn-block" href="{% url 'add_expiration' %}" role="button">Registrar Vencimento</a>
                </div>
                <div class="col-10 col-md-6">
                    <a class="btn btn-primary btn-lg btn-block" href="{% url 'display_expirations' %}" role="button">Listar Vencimentos</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
