/* base.css */

/* Estilo para o botão de navegação */
.navbar-toggler {
    border-color: #ffffff; /* Cor da borda do botão */
}

/* Estilo para os botões de navegação */
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff; /* Cor do texto dos botões de navegação */
}

/* Estilo para a barra de navegação */
.navbar-dark {
    background-color: #343a40; /* Cor de fundo da barra de navegação */
}
